<h2>edit Movie</h2>
<%= form_tag movie_path(@movie), :method => :put, :class => 'form' do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label :movie, :title, 'Title', :class => 'form-control'%>
    <%= text_field :movie, :title, :class => 'form-control' %>
    <%= label :movie, :rating, 'Rating', :class => 'form-control'%>
    <%= select :movie, :rating, ['G','PG','PG-13','R','NC-17'], :class => 'form-control' %>
    <%= label :movie, :release_date, 'Release On' %>
    <%= date_select :movie, :release_date, :class => 'form-control'%>
    <%= submit_tag 'Save Changes'%>
<% end %>

<%= form_tag movie_path(@movie), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } do %>
  <%= submit_tag 'Delete', class: 'btn btn-danger' %>
<% end %>

